<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <% if(!isAuthenticated) { %>
    <%- include("./partials/login.ejs") %>
  <% } else { %>
    <%- include("./partials/logout.ejs") %>
  <% } %>


  <% if(user) { %>
  <div>Welcome</div>
  <div class="profile-info">
  <img src="<%= user.picture %>" alt="userimage">
  <p class="name">
    <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %>
  </p>
  </div>
  <% } %>

  <div class="blogs content">
    <h2>All Products</h2>

    <div class="blog-container">
        <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
          <form action="/blogs/payment" method="POST">
            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= key %>"
              data-amount="7000" data-currency="usd" data-name="Pardeep Rathore" data-description="Buy Demo Blog"
              data-locale="auto">
            </script>
          </form>
        </a>
        <% }) %>
        <% } else { %>
        <p>There are no blogs to display...</p>
        <% } %>
    </div>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>